{% extends './layout.html' %}

{% block title%} home {% endblock %}



{% block body%} 
<!--*HEADER*-->
<header class="header">
    <!-- LOGO -->
    <a href="#" class="header__logo">
        <img src="{{ url_for('static',filename='img/logo/logo.png') }}" alt="logo del ministerio de educación" class="header__logo-img">
    </a>
    <!-- NAV -->
    <nav class="header__menu">
        <ul class="menu__list">
            <li class="menu__list-item active"><a href="#">Inicio</a></li>
            <li class="menu__list-item"><a href="#">Información</a></li>
            <li class="menu__list-item"><a href="#">Noticias</a></li>
            <li class="menu__list-item"><a href="#">Ayuda</a></li>
        </ul>
    </nav>
    <!-- BTN -->
    <button class="header__btn">Ingresar</button>
</header>

{% endblock %}
