:root {
    /* font */
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    --small: 1.4rem; /* 14px */
    --default: 1.6rem; /* 16px */
    --large: 2.4rem; /* 24px */

    /* colors */
    --text-color: #0E1422;
    --first-color: #3375E9;
    --second-color: rgba(51, 117, 232, 0.66); /*Para las líneas y texto definido en azul en el diseño*/
    --border-color: #8D8D8D;
    --bg-gray-color: #EEEEEE;
  }

     /* Colores del calendario de asistencias
   #D7A9FF - Días libres
   #FFEF82 - Días festivos
   #F96666 - Inasistencias
  */


*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

a{
  text-decoration: none;
}

/** HEADER **/

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
    height: 80px;
  }

  .header__logo > img{
    width: 120px;
    height: 120px;
  }
/* nav */
  .menu__list-item {
    display: inline-block;
    padding: 0 30px;
    font-size: var(--default);
  }

  .menu__list-item > a {
    color: #666;
    
  }

  .menu__list-item > a {
    color: var(--text-color);
    background-image: linear-gradient(180deg,transparent 65%,var(--first-color) 0);
    background-repeat: no-repeat;
    background-size: 0 100%;
    padding-bottom: 2px;
  }

  .menu__list-item > a:hover {
    border-bottom: 3px solid var(--first-color);
  }

/* btn */

.header__btn{ 
  width: 100px;
  height: 40px;
  background: #FFF;
  border-radius: 50px;
  border: 2px solid var(--second-color);
  color: var(--second-color);
  font-weight: 600;
  font-size: var(--small);
  cursor: pointer;
  transition: .3s;
}

.header__btn:hover {
  background: var(--first-color);
  color: #FFF;
}

/** END HEADER **/

/** SLIDER **/

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider{
  padding: 70px 0;
}

.slider__container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em;
}

.slider__body {
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;
  width: 90%;
  margin: 0 auto;
}

.slider__body-show {
  opacity: 1;
}

.slider__texts {
  max-width: 480px;
  margin-right: 20px;
}

.review__span {
text-decoration: underline var(--first-color);
}

.review__comment {
color: var(--second-color);
font-weight: 400;
}

.slider__subtitle {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--text-color);
  font-family: 'Noto Serif Toto', serif;
}

.slider__review {
  font-size: 20px;
  line-height: 1.7;
  color: var(--text-color);
  font-weight: 300;
}


.slider__img > img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.slider__icon {
  cursor: pointer;
  font-size: var(--default);
  color: var(--text-color);
}

.slider__slide {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.slide__swiper{
  display: inline-block;
  margin: 0 4px;
  height: 10px;
  width: 10px;
  border-radius: 25px;
  background: var(--second-color);
  transition: .9s;
}

.active {
  background: var(--first-color);
  width: 35px;
}

/**END SLIDER**/

/**INFORMACIÓN**/

.info__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
  height: 50px;
  background-color: #EEEEEE;
  border-radius: 50px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 15px -3px rgba(0,0,0,0.77); 
  box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.45);
}

.info__item {
  padding: 0 30px;
  font-size: 12px;
  width: 90px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__item-link{
  text-align: center;
}

.info__item-link:hover > .info__item-box {
background-color: var(--first-color);
}

.info__item-link:hover > .info__item-box > i{
  color: #FFF;
}

.info__item-box {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid #ddd;
}

.info__item-icon {
  font-size: var(--default);
  color: var(--first-color);
}

.info__item-box-2 {
  margin-top: 20px;
}

.info__item-box-2 > h3 {
  color: var(--text-color);
  font-weight: 400;
}
/**END INFORMACIÓN**/

/**NOTICIAS**/

.noticias {
  height: 600px;
}

.noticias__text {
  text-align: center;
  color: var(--text-color);
  margin-top: 100px;
}

.noticias__text > h2 {
  font-size: var(--large);
}

.noticias__text > h3 {
  font-size: var(--default);
  font-weight: 400;
  margin-top: 10px;
}

.noticias__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.noticia__item {
  width: 250px;
  height: 250px;
  margin-right: 10px;
} 

.noticia__item > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

/*ACTIVE*/
.noticia__item-show {
  width: 450px;
  height: 250px;
}

.noticia__item-show > img {
  width: 450px;
  height: 250px;
  object-fit: cover;
}
/*END ACTIVE*/

.noticia__box {
  padding-top: 10px;
}

.noticia__box:hover {
  -webkit-box-shadow: 0px 8px 18px -3px rgba(0,0,0,0.27); 
box-shadow: 0px 8px 18px -3px rgba(0,0,0,0.27);
}

.noticia__box > span, p{
  font-size: var(--small);
  padding-left: 5px;
}

.noticia__box > span {
  margin-top: 10px;
  color: var(--second-color);
  font-weight: 500;
}

.noticia__box > p {
  margin-top: 10px;
  color: var(--text-color);
  font-weight: 300;
}

.noticia__box > button {
  margin: 25px 0 20px 8px;
  width: 90px;
  height: 30px;
  background: #FFF;
  border-radius: 50px;
  border: none;
  color: var(--second-color);
  font-weight: 600;
  font-size: var(--small);
  cursor: pointer;
  transition: .3s;
  -webkit-box-shadow: 0px 8px 18px -3px rgba(0,0,0,0.27); 
  box-shadow: 0px 8px 18px -3px rgba(0,0,0,0.27);
}

.noticia__box > button:hover {
  background-color: var(--first-color);
  color: #FFF;
}

/**END NOTICIAS**/

/**SUPPORT**/
.support {
  background-color: var(--bg-gray-color);
  height: 600px;
  text-align: center;
}

.support__text {
  padding-top: 40px;
}
.support__text> h2 {
  font-size: 28px;
  color: var(--text-color);
}

.support__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}

.support__item {
  width: 240px;
  height: 360px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 8px 18px -3px rgba(0,0,0,0.27); 
  box-shadow: 0px 8px 18px -3px rgba(0,0,0,0.27);
  padding: 30px 0 0 0;
}

.item__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--first-color);
}

.item__circle > img {
  width: 100px;
  height: 100px;
}

.item__text {
  margin-top: 40px;
}

.item__text > h2, p {
  font-size: var(--default);
  color: var(--text-color);
}

.item__text > h2 {
  width: 160px;
  text-align: center; 
  margin: 0 auto;
}

.item__text > p {
  margin-top: 30px;
  font-weight: 300;
}

/**END SUPPORT**/

/**FOOTER**/

/*footer container*/

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  background-color: #0E1422;
  color: #FFF;
  font-size: var(--small);
}

/*Logo / icons*/

.footer__item > img {
  width: 120px;
  height: 120px;
}

.item__text-footer {
  width: 120px;
  margin: 0 0 15px 12px;
}

.item__text-footer > h2 {
  font-size: var(--small);
  font-weight: 400;
}

.footer__icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon__circle > i {
  color: #0E1422;
  font-weight: 700;
}

.icon__circle {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Menú*/

.menu__footer > h2 {
  margin-bottom: 15px;
}

.footer__list > li {
  list-style: none;
  margin-top: 5px;
}

.footer__list > li > a {
  color: #FFF;
}

/*contacto*/

.footer__item-contacto {
  margin-top: 15px;
  display: flex;
}

.footer__item-contacto > i {
  margin-right: 10px;
  font-size: 17px;
}

.item__contacto-email {
  text-decoration: underline #fff;
}

.direccion__box {
  width: 120px;
}

/*copyright*/

.footer__copy {
  background-color: #080C14;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copy > h2 {
  font-weight: 400;
}

/**END FOOTER**/